@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<div class="choose_flight">
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <div class="card-title">
                <select class="form-select input-sm" aria-label="Default select example">
                    <option selected value="One-way">One-way</option>
                    <option value="Two-way">Two-way</option>
                </select>
            </div>
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInputGroup">From</label>
                    <div class="input-group">
                        <div class="input-group-text">From</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Tel-Aviv">
                    </div>
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInputGroup">To</label>
                    <div class="input-group">
                        <div class="input-group-text">To</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="San-Francisco">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                        <label class="form-check-label" for="autoSizingCheck">
                            Remember me
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
