.choose_flight {
    margin: 0;
    padding: 10% 0 10% 0;
    width: 100%;
    background-image: url("/images/travel_search.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

select.input-sm {
    width: 10%;
}

