h3 {
    margin: 1.5rem;
    padding: 2rem;
}

.popular_flights{
    margin: 2rem;
}

.choose_flight {
    margin: auto;
    padding: 10% 0 10% 0;
    width: 100%;
    background-image: url("/images/travel_search.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

select.input-sm {
    width: 10%;
}


