<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TravelBuy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                @if (Session["AdminIn"] != null)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content("~/Back/AdminPanel")">Admin Panel</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">My Flights</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Make payment</a>
                    </li>
                }
            </ul>
            @if (Session["AdminIn"] == null && Session["UserIn"] == null) { 
            <div class="dropdown dropstart">
                <button type="button" class="btn btn-primary mx-2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Enter for User
                </button>
                <div class="dropdown-menu">
                    <form class="px-4 py-3" action="@Url.Content("~/Home/UserSignIn")" method="post">
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email address</label>
                            <input name="email" type="email" class="form-control" id="Email" placeholder="email@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input name="password" type="password" class="form-control" id="Password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/newUser">Haven't been here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
            </div>


                <div class="dropdown dropstart">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        Enter for Admin
                    </button>
                    <div class="dropdown-menu">
                        <form class="px-4 py-3" action="@Url.Content("~/Home/AdminPanel")" method="post">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email address</label>
                                <input name="email" type="email" class="form-control" id="Email" placeholder="email@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="Password" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="Password" placeholder="Password">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                    <label class="form-check-label" for="dropdownCheck">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/newAdmin">Have a secret code? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>
                </div>
            }
            else
            {
                <form action="/Home/SignOut" method="post">
                    <input class="btn btn-primary" type="submit" value="SignOut">
                </form>
            }
        </div>
    </div>
</nav>
