@model TravelApp.ViewModel.AdminView

@{
    ViewBag.Title = "adminPanel";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<link href="~/Css/adminPanel.css" rel="stylesheet" />

<h2>Admin Panel</h2>
<hr />
<h3>Hello @Model.admin.Username</h3>
<div class="container">
    <h4 class="p-2">Flights</h4>
    <div class="card p-3" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <hr />
    <h4 class="p-2 p-3">Airplanes</h4>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

