@model TravelApp.ViewModel.UserView
@using TravelApp.Models;

@{
    ViewBag.Title = "MyFlights";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<h2>MyFlights</h2>

@if (Model.flights != null)
{
    foreach(Flight flight in Model.flights) {
        <div class="card">
            <h5 class="card-header">From @flight.FromCountry to @flight.ToCountry</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
}
